<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidjson.firebasegooglelogin_androidjsoncom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.VERSION"
            android:value="25.3.1"
            tools:replace="android:value" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.activitys.StartActivity" />
        <activity
            android:name=".client.activitys.SafetyActivity"
            android:label="@string/title_activity_safety"
            android:theme="@style/AppTheme.ActionBar">

        </activity>
        <activity
            android:name=".client.activitys.MaterialActivity"
            android:label="@string/title_activity_material"
            android:theme="@style/AppTheme.ActionBar">

        </activity>
        <activity
            android:name=".client.activitys.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.ActionBar">

        </activity>
        <activity
            android:name=".client.activitys.TimeActivity"
            android:label="@string/title_activity_time"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".client.activitys.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".hps.activitys.StarterActivity"
            android:label="@string/title_activity_creator"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".hps.activitys.CreateMaterialActivity"
            android:label="@string/title_activity_create_material"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".hps.activitys.CreateTeamActivity"
            android:label="@string/title_activity_create_material"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".hps.activitys.PersonalListActivity"
            android:label="@string/PersonalListActivity"
            android:theme="@style/AppTheme.ActionBar"></activity>



    </application>
</manifest>